<div class="row">
    <div class="col-md-6 offset-md-3 mt-3">
        <div class="card" style="width: 25rem;">
            <img src="assets/images.jfif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{detalleProducto.p_name}}</h5>
                <p class="card-text">{{detalleProducto.p_description}}</p>
                <a href="#" class="btn btn-primary">${{detalleProducto.p_price}}</a>
            </div>
        </div>
    </div>
</div>